<!-- <div class="etudiant-list-container">
    <h2>List of Etudiants</h2>
    <ul class="etudiant-list">
      <li *ngFor="let etudiant of etudiants" class="etudiant-item">
        <span class="etudiant-info">
          {{ etudiant.lastName }} {{ etudiant.firstName }} - {{ etudiant.phone }}
        </span>
        <button class="delete-btn" (click)="deleteEtudiant(etudiant.id!)">Delete</button>
      </li>
    </ul>
</div> -->

<nz-table #editRowTable nzBordered [nzData]="etudiants!">
      <thead>
        <tr>
          <th>Id</th>
          <th >Nom</th>
          <th>Prenom</th>
          <th>Tele</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etud of etudiants" class="editable-row">
          <td>{{ etud.id }}</td>
          <td>{{ etud.firstName }}</td>
          <td>{{ etud.lastName }}</td>
          <td>{{ etud.phone }}</td>
          <td>{{ etud.email }}</td>
          <td>
            <span nz-icon nzType="edit" nzTheme="twotone" ></span>
          </td> 
  
          <td>
            <span nz-icon nzType="delete" nzTheme="twotone" (click)="deleteEtudiant(etud.id!)"></span>
          </td>
        </tr>
      </tbody>
</nz-table>

    
