<body>
    <!-- Navigation-->

    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">
              <!-- Your logo goes here -->
              <img src="../../../assets/logo2.png" alt="Logo" class="logo">
            </a>
          
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <button nz-button nzType="primary" nzShape="round">
                        <a class="nav-link text-light" href="#">Sign Up</a>
                    </button>
                </li>
              </ul>
            </div>
          </nav>
    </div>

    <!-- Masthead-->
    <header class="masthead">
        
    </header>


    <!-- Icons Grid------------------------------------------------------------>
    <div class="nav1">
        <table id="table_nav1">
            <tr>
                <td>
                    <h1 style="color: #FFF; email-align: center;">BIENVENUE AU TRACK SHIP</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #FFF; text-align: center;">L’Association Sportive (MAROCES) compte parmi les
                        grandes associations sportives du Maroc.
                        Créé en 2002, il est situé en plein centre de MARRAKECH.
                        Les principales activités du club sont le basketball, la natation, aérobic, fitness.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><button id="readMore" value="Read More">Read More</button></td>
            </tr>
        </table>
    </div>

    <!-- ------------------------------------------------------ -->
    <div class="nav2">
        <table id="table_coach">
            <tr>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img src="../../../assets/logo2.png" alt="Avatar"
                            class="image">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a style="color: white; font-family: 'Poppins' sans-serif;" href="">FAST</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/logo2.png">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">EFICACE</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/logo2.png">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">GARENTIE</a>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>


        </table>
    </div>

</body>
