<body>
    <!-- Navigation-->

    <div class="header">
        <table id="table_menu"  cellpadding="0" cellspacing="0" >
            <tr>
                <td style="width:30%; text-align: left; left: 20px;" rowspan="2">
                    <a href="#!" style=" font-size: large; " ><h1 style="color: crimson;">DeltaGroupe</h1></a>
                    <!-- <img style="width: 90px; height: 60px; margin-right: 15px;" src="../../../assets/bg2.jpg"/> -->
                </td>
            
                <td style="width:5%; text-align:center; text-align: right; " rowspan="1">
                    <div class="walo">
                        <a class="btn btn-primary" style="background-color: crimson; border: none; margin-left: 20px;"  href="/login">Sign In</a>
                    </div>
                </td>

                <td style="width:5%; text-align:left;padding: 15px 15px; right: 0px;" rowspan="1">
                    <div class="walo">
                        <a class="btn btn-primary" style="background-color: rgb(20, 163, 220); border: none;" href="/register">Sign Up</a>
                    </div>
                </td>

            </tr>
        </table>
    </div>

    <!-- Masthead-->
    <header class="masthead">
        
    </header>


    <!-- Icons Grid------------------------------------------------------------>
    <div class="nav1">
        <table id="table_nav1">
            <tr>
                <td>
                    <h1 style="color: #FFF; email-align: center;">BIENVENUE AU DeltaGroupe</h1>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: #FFF; text-align: center;">DeltaGroupe est l'une des principales écoles au Maroc en termes de cours de soutien. Il a été établi en 2002 et se trouve au cœur de Marrakech. 
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;"><button id="readMore" value="Read More">Read More</button></td>
            </tr>
        </table>
    </div>

    <!-- ------------------------------------------------------ -->
    <div class="nav2">
        <table id="table_coach">
            <tr>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img src="../../../assets/girl.jpg" alt="Avatar"
                            class="image">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a style="color: white; font-family: 'Poppins' sans-serif;" href="">Education</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/class.jpg">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">Resultats</a>
                            </button>
                        </div>
                    </div>
                </td>
                <td style="text-align: center; padding: 0px 60px 0px 60px;">
                    <div class="container2">
                        <img class="image" src="../../../assets/ber.jpg">
                        <div class="overlay2">
                            <button id="ENTRAINEUR">
                                <a href="" style="color: white; font-family: 'Poppins' sans-serif;">GARENTIE</a>
                            </button>
                        </div>
                    </div>

                </td>
            </tr>


        </table>
    </div>

</body>
